// .dataTables_length{
//     display: none;
// }

// .dataTables_filter{
//     display: none !important;
// }
.transaksi,.customer{
    .dataTables_wrapper{
        .dataTables_info{
            left: 85.7%;
            top: 94.2%;
        }
    }
}
.detail-customer{
    .dataTables_wrapper{
        .dataTables_info{
            left: 85.7%;
            top: 93.5%;
        }
    }
}
.detail-customer{
    #historyCatat{
        .dataTables_wrapper{
            .dataTables_info{
                left: 85.7%;
                top: 95%;
            }
        }
    }
    .dataTables_wrapper{
        .dataTables_info{
            left: 85.7%;
            top: 93.5%;
        }
    }
}   
.dataTables_wrapper{
    
    flex-direction: column;
    position: relative;

    .dataTables_length{
        padding-top: 15px;
        outline: none;
        padding-left: 16px;
        color: var(--Neutral-300, #000);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        select{
            border: none !important;
            
        }
    }
    .dataTables_info{
        position: absolute;
        left: 86.7%;
        top: 88.9%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: var(--Neutral-300, #000);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }

    .dataTables_paginate{
        display: flex;
        gap: 10px;
        padding-top: 15px !important;
        padding-right: 16px;
        span{
            display: none;

        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
padding: 0  !important;

}
table{
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    color: var(--Neutral-700, #525252);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

table.dataTable>thead>tr>th, table.dataTable>thead>tr>td {
    padding: 12px 16px !important;
   
}

td{
    padding: 12px 16px !important;
}

span.status-badge.aktif{
    display: flex;
    width: 80px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--Primary-500, #369B47);

    color: var(--White, #FCFCFD);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}
span.status-badge.deactive{
    display: flex;
    width: 80px;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--Grey-500, #8A8A8A);

    color: var(--White, #FCFCFD);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

span.status-badge.belum{
    padding: 4px 8px;
    border-radius: 20px;
    background: #E16458;
    color: var(--White, #FCFCFD);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}

span.status-badge.sudah{
    padding: 4px 8px;
    border-radius: 20px;
    background: var(--Primary-500, #369B47);
    color: var(--White, #FCFCFD);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
}
.btn-action{
    border: none;
    background-color: transparent;

}