.transaksi{
    margin-left: 292px;
    padding: 131px 40px 40px;
    background: var(--Grey-50, #F5F5F5);
    height: 100%;
    
    .content-transaksi{
        background-color: #fff;
        padding: 20px;

        .search-engine{
            display: flex;
            gap: 15px;
            margin-bottom: 20px;
            .search-box{
                position: relative;
                width: 100%;
                input{
                    width: 100%;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    background: var(--Base-White, #FFF);
    
                    &::placeholder{
                        color: var(--Grey-500, #8A8A8A);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
    
    
                }
    
                i{
                    position: absolute;
                    color: #8A8A8A;
                    top: 30%;
                    left: 96.8%;
                }
            }
    
            .status{
                position: relative;
                width: 14.5%;
                
                .btn-status{
                    background: var(--Base-White, #FFF);
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    gap: 10px;
                    width: 100%;
                    padding: 8px 16px;
                    height: 100%;
    
                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                }
            }
    
           
           
                button{
                width: 25%;
                display: flex;
                height: 44px;
                padding: 16px 15px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                background: var(--Primary-500, #369B47);
                color: var(--Base-White, #FFF);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 125% */
                border: none;
                }
            
        }  
    }
}