.custom-dashed {
    height: 1px;
    border: none;
    background-image: repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4) 0px,
      rgba(0, 0, 0, 0.4) 8px,
      transparent 8px,
      transparent 16px
    );
    margin: 16px 0;
  }
  

.dashboard{
    margin-left: 292px;
    padding: 131px 40px 40px;
    background: var(--Grey-50, #F5F5F5);
    p,h6,h2{
        margin: 0;
    }
    .statistik{
        .head{
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            align-items: center;
            margin-bottom: 25px;
            p{
                color: var(--Neutral-300, #000);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
                
            }

            .date{
                h6{
                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    
                }
                display: flex;
                gap: 15px;
                padding: 8px 16px;
                align-items: center;
                text-align: center;
                border-radius: 8px;
                border: 0.5px solid var(--Grey-400, #D7D7D7);
                background: var(--Base-White, #FFF);
            }

        }
        .statistik-card-bottom{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            
            .card-bottom{
                gap: 15px;
                display: flex;
                flex-direction: column;
                flex: 1 0 0;
                border-radius: 12px;
                background: var(--Neutral-50, #FFF);
                padding: 20px 15px;

                p{
                    color: var(--Neutral-300, #000);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 171.429% */
                }

                .card-bottom-inner{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .sts-minus{
                        border-radius: 23.61px;
                        background: #F6E5E1;
                        display: flex;
                        padding: 4.427px 10px 4.427px 8px;
                        align-items: center;
                        gap: 5px;

                        //warna angka
                        color: #E16458;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                    }

                    .sts-plus{
                        border-radius: 23.61px;
                        background: #C4EECB;
                        display: flex;
                        padding: 4.427px 10px 4.427px 8px;
                        align-items: center;
                        gap: 5px;

                        //warna angka
                        color: #369B47;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .card-data{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 20px;

        .card1{
            flex: 1 0 0;
            display: flex;
            flex-direction: column;
            gap: 20px;

            a{
                text-decoration: none;
                color: var(--Primary-500, #369B47);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px; /* 150% */
                display: flex;
                gap: 10px;

                
            }

            .lihat-semua{
                color: var(--Grey-700, #6A696B);
                text-align: right !important;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 171.429% */
                justify-content: end;
                align-items: center;
                display: flex;
                gap: 0;
            }
        }

        .card1-inner{
            border-radius: 12px;
            background: var(--Neutral-50, #FFF);
            display: flex;
            padding: 20px 15px;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
        }

        .card1-title{
            width: 100%;  
            
            .content{
                display: flex;
                flex-direction: column;
                gap: 16px;

                .status-item-biasa{
                    display: flex;
                    justify-content: space-between;

                    
                    
                    p{
                        color: var(--Grey-700, #6A696B);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 171.429% */
                    }
                }
                .status-item{
                    display: flex;
                    justify-content: space-between;

                    .angka{
                        border-radius: 21px;
                        background: var(--Grey-300, #EFEFEF);
                        padding: 1px 10px;

                        color: var(--Black, #000);
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }

                .status-item-inner{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    justify-content: space-between;

                    p{
                        color: var(--Grey-700, #6A696B);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    h6{
                        color: var(--Neutral-300, #000);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                    }
                    
                }
                .dot-green {
                    width: 12px;
                    height: 12px;
                    border-radius: 100px;
                    background-color: #369B47;
                    display: inline-block; // pastikan dia terlihat
                    margin-right: 8px; // opsional, buat jarak ke teks
                  }
                  .dot-red {
                    width: 12px;
                    height: 12px;
                    border-radius: 100px;
                    background-color: #E16458;
                    display: inline-block; // pastikan dia terlihat
                    margin-right: 8px; // opsional, buat jarak ke teks
                  }
                  .dot-blue {
                    width: 12px;
                    height: 12px;
                    border-radius: 100px;
                    background-color: #3AA3E9;
                    display: inline-block; // pastikan dia terlihat
                    margin-right: 8px; // opsional, buat jarak ke teks
                  }
                  
            }
            .total{
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    color: var(--Neutral-300, #000);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 171.429% */
                }

                h2{
                    color: var(--Neutral-300, #000);
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px; /* 114.286% */
                }
            }
        }
    }

    .daftar-history{
        .head{
            display: flex;
            justify-content: space-between;
            padding: 10px 0px;
            align-items: center;

            p{
                color: var(--Neutral-300, #000);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                
                
            }

            .date{
                h6{
                    color: var(--Grey-500, #8A8A8A);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    
                }
                display: flex;
                gap: 15px;
                padding: 8px 16px;
                align-items: center;
                text-align: center;
                border-radius: 8px;
                border: 0.5px solid var(--Grey-400, #D7D7D7);
                background: var(--Base-White, #FFF);
            }

        }

        .history{
            border-radius: 12px;
            background: var(--Neutral-50, #FFF);
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin-top: 25px;

            .search-box{
                position: relative;

                input{
                    width: 100%;
                    padding: 8px 16px;
                    border-radius: 8px;
                    border: 0.5px solid var(--Grey-400, #D7D7D7);
                    background: var(--Base-White, #FFF);

                    &::placeholder{
                        color: var(--Grey-500, #8A8A8A);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }


                }

                i{
                    position: absolute;
                    color: #8A8A8A;
                    top: 30%;
                    left: 96.8%;
                }
            }
        }
    }
}
