.datatables_length{
    display: none;
}

.datatables_filter{
    display: none;
}

table{
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    color: var(--Neutral-700, #525252);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

table.dataTable>thead>tr>th, table.dataTable>thead>tr>td {
    padding: 12px 16px !important;
}
td{
    padding: 12px 16px !important;
}