.background{
    position: relative;
}
.layout{
    width: 100%;
    display: flex;
    position: fixed;    
    z-index: 100;


.header{
    border-bottom: 1px solid var(--Grey-300, #EFEFEF);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px;
        z-index: 100;
        background-color: #FFF;

    .big-title{
        color: var(--Neutral-300, #000);
        font-size: 22px;
        font-weight:600;
    }
    .profile{
        display: flex;
        gap: 15px;
        
        .Nama{
            color: var(--Neutral-300, #000);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .email{
            color: var(--Grey-500, #8A8A8A);
            font-size: 11px;
            font-style: normal;
            line-height: normal;
        }
    }
}

.sidebar{
    border-right: 1px solid var(--Grey-300, #EFEFEF);
    height: 100vh;
    padding: 30px 0px 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .logo-side{
        margin: 0px 36px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .sidebar-inner{
        
        height: 100%;
        display: flex;      
        flex-direction: column;
        justify-content: space-between;
        
        .point{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            a{
                display: flex;
                gap: 10px;
                padding: 15px 40px;
                text-decoration: none;
                color: var(--Grey-500, #8A8A8A);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            &:hover,&.active {
                background-color: #f2fcf6;
                color: #369B47; // hijau
                border-right: 3px solid #369B47;
                }
            }
        }
    }

    button{
        color: var(--Neutral-50, #FFF);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        display: flex;
        border: none;
        padding: 15px 40px;
        gap: 10px;
        border-radius: 9000px;
        background: var(--Primary-500, #369B47);
        justify-content: center;
        margin: 0px 35.5px;
    }
}



}